* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  header, .viewPort, #Background, #top1, #top2 {
    display: none;
  }
  body {
    background-color: black;
  }
  .mobile {
    background-image: url("/images/OnBrandMobileHeader.png");
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
  }
  .line1,
  .line2,
  .line3 {
    width: 50px;
    height: 5px;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(magenta), to(rgba(0, 0, 0, 0.397)));
    background-image: linear-gradient(magenta, rgba(0, 0, 0, 0.397));
    margin: 8px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-dropdown li {
    width: 98%;
    padding: 1.5%;
    background-color: rgba(172, 1, 172, 0.5);
    border: solid 1px #202020;
  }
  .mobile-dropdown {
    position: absolute;
    top: 10vh;
    width: 98%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 2%;
  }
  .mobile-dropdown a {
    background-color: transparent;
    color: transparent;
  }
  .mobile-dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    font-stretch: ultra-expanded;
    font-size: 150%;
    text-align: center;
  }
  /* Nav Animations */
  .change .line1 {
    -webkit-transform: translate(-3px, 10px) rotate(45deg);
            transform: translate(-3px, 10px) rotate(45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#a700a7));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #a700a7);
  }
  .change .line3 {
    -webkit-transform: translate(-5px, -15px) rotate(-45deg);
            transform: translate(-5px, -15px) rotate(-45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a700a7), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(#a700a7, rgba(0, 0, 0, 0.5));
  }
  .change .line2 {
    opacity: 0;
  }
  .mobile-dropdown.active {
    position: absolute;
    width: 98%;
    opacity: 1;
    z-index: 1;
  }
  #About {
    position: relative;
  }
  .Bio {
    width: 80vw;
    top: 30vh;
    margin-left: 10%;
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }
  .Bio h3 {
    margin-top: 2%;
  }
  .Bio ul {
    margin-left: 1.5%;
    list-style-type: none;
  }
  #Portfolio h2 {
    color: white;
    font-size: 105%;
    text-align: center;
    margin: 2%;
  }
  #Portfolio h2 a {
    text-decoration: none;
  }
  #PortMobile, #BioMobile {
    width: 80vw;
    position: relative;
    left: 10vw;
  }
  .portImages {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portImages img {
    width: 30vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1369px) {
  header, .viewPort, #Background, #top1, #top2 {
    display: none;
  }
  body {
    background-color: black;
  }
  .mobile {
    background-image: url("/images/OnBrandMobileHeader.png");
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 2vh;
    left: 2vh;
  }
  .line1,
  .line2,
  .line3 {
    width: 50px;
    height: 5px;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(magenta), to(rgba(0, 0, 0, 0.397)));
    background-image: linear-gradient(magenta, rgba(0, 0, 0, 0.397));
    margin: 8px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-dropdown li {
    width: 98%;
    padding: 1.5%;
    background-color: rgba(172, 1, 172, 0.5);
    border: solid 1px #202020;
  }
  .mobile-dropdown {
    position: absolute;
    top: 10vh;
    width: 98%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 2%;
  }
  .mobile-dropdown a {
    background-color: transparent;
    color: transparent;
  }
  .mobile-dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    font-stretch: ultra-expanded;
    font-size: 170%;
    text-align: center;
  }
  /* Nav Animations */
  .change .line1 {
    -webkit-transform: translate(-3px, 10px) rotate(45deg);
            transform: translate(-3px, 10px) rotate(45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#a700a7));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #a700a7);
  }
  .change .line3 {
    -webkit-transform: translate(-5px, -15px) rotate(-45deg);
            transform: translate(-5px, -15px) rotate(-45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a700a7), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(#a700a7, rgba(0, 0, 0, 0.5));
  }
  .change .line2 {
    opacity: 0;
  }
  .mobile-dropdown.active {
    position: absolute;
    width: 98%;
    opacity: 1;
    z-index: 1;
  }
  #About {
    position: relative;
  }
  .Bio {
    width: 80vw;
    top: 30vh;
    margin-left: 10%;
    color: white;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }
  .Bio h3 {
    margin-top: 2%;
  }
  .Bio ul {
    margin-left: 1.5%;
    list-style-type: none;
  }
  #Portfolio h2 {
    color: white;
    font-size: 150%;
    text-align: center;
    margin: 3%;
  }
  #Portfolio h2 a {
    text-decoration: none;
  }
  #PortMobile, #BioMobile {
    width: 80vw;
    position: relative;
    left: 10vw;
  }
  .portImages {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portImages img {
    width: 30vw;
  }
}

@media screen and (min-width: 1370px) {
  .mobile, #PortBackground, #BioMobile, #PortMobile {
    display: none;
  }
  body {
    background-color: black;
  }
  #Background {
    width: 95vw;
    height: 100vh;
  }
  header {
    position: relative;
  }
  .contact {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 35vw;
    top: 3vh;
    left: 60vw;
    background: transparent;
  }
  .contact img {
    height: 70px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .Down {
    position: absolute;
    bottom: 5vh;
    left: 45vw;
  }
  .Down img {
    width: 40%;
    height: 10%;
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  #About {
    position: relative;
  }
  .Bio {
    position: absolute;
    width: 80vw;
    top: 22vh;
    left: 9vw;
    color: white;
    font-size: 155%;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
  }
  .Bio h3 {
    margin-top: 2%;
  }
  .Bio ul {
    margin-left: 1.5%;
  }
  .viewPort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    text-shadow: 3px 3px black;
    font-size: 170%;
  }
  .viewPort img {
    width: 40%;
    height: 10%;
    margin-left: 5%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  #Portfolio {
    position: relative;
  }
  #Portfolio h2 {
    position: absolute;
    bottom: 20vh;
    left: 23vw;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 200%;
    text-align: center;
  }
  #Portfolio h2 a {
    color: purple;
    text-decoration: none;
    text-shadow: 2px 2px black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .portImages {
    position: absolute;
    top: 28vh;
    width: 90%;
    left: 7vw;
  }
  .portImages img {
    width: 10%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  #top1, #top2 {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    color: purple;
    text-decoration: none;
    text-shadow: 2px 2px black;
    font-weight: bolder;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .contact img:hover {
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    height: 72px;
  }
  .Down img:hover {
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    width: 50%;
  }
  .viewPort img:hover {
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    width: 50%;
  }
  .portImages img:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    width: 11%;
  }
  #Portfolio a:hover {
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    font-size: 105%;
  }
  #top1:hover, #top2:hover {
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    font-size: 105%;
  }
}
/*# sourceMappingURL=Style.css.map */