* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: black;
  font-family: "dorsa";
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  header, #PortBackground, #UpArrow {
    display: none;
  }
  .mobile {
    background-image: url("../images/OnBrandMobileHeader.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 1vh;
  }
  .line1,
  .line2,
  .line3 {
    width: 50px;
    height: 5px;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(magenta), to(rgba(0, 0, 0, 0.397)));
    background-image: linear-gradient(magenta, rgba(0, 0, 0, 0.397));
    margin: 8px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-dropdown li {
    width: 98%;
    padding: 1.5%;
    background-color: rgba(172, 1, 172, 0.5);
    border: solid 1px #202020;
  }
  .mobile-dropdown {
    position: absolute;
    top: 10vh;
    width: 98%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 2%;
  }
  .mobile-dropdown a {
    background-color: transparent;
    color: transparent;
  }
  .mobile-dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    font-stretch: ultra-expanded;
    font-size: 200%;
    text-align: center;
  }
  /* Nav Animations */
  .change .line1 {
    -webkit-transform: translate(-3px, 10px) rotate(45deg);
            transform: translate(-3px, 10px) rotate(45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#a700a7));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #a700a7);
  }
  .change .line3 {
    -webkit-transform: translate(-5px, -15px) rotate(-45deg);
            transform: translate(-5px, -15px) rotate(-45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a700a7), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(#a700a7, rgba(0, 0, 0, 0.5));
  }
  .change .line2 {
    opacity: 0;
  }
  .mobile-dropdown.active {
    position: absolute;
    width: 98%;
    opacity: 1;
    z-index: 1;
  }
  #Portfolio {
    position: relative;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 150%;
  }
  #Portfolio img {
    width: 100vw;
  }
  .mobileBio {
    background-color: rgba(172, 1, 172, 0.5);
    margin: 1.5%;
    padding: 2%;
    text-shadow: .01em .01em .15em black;
    font-size: 120%;
    font-stretch: ultra-expanded;
  }
  .mobilePacksHead {
    font-size: 110%;
    text-shadow: 0.01em 0.01em 0.09em #960396;
  }
  .footer {
    height: 50vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1369px) {
  header, #PortBackground, #UpArrow {
    display: none;
  }
  .mobile {
    background-image: url("../images/OnBrandMobileHeader.png");
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 1vh;
  }
  .line1,
  .line2,
  .line3 {
    width: 80px;
    height: 8px;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(magenta), to(rgba(0, 0, 0, 0.397)));
    background-image: linear-gradient(magenta, rgba(0, 0, 0, 0.397));
    margin: 8px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-dropdown li {
    width: 98%;
    padding: 1.5%;
    background-color: rgba(172, 1, 172, 0.5);
    border: solid 1px #202020;
  }
  .mobile-dropdown {
    position: absolute;
    top: 10vh;
    width: 98vw;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 2%;
  }
  .mobile-dropdown a {
    background-color: transparent;
    color: transparent;
  }
  .mobile-dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    font-stretch: ultra-expanded;
    font-size: 300%;
    text-align: center;
  }
  /* Nav Animations */
  .change .line1 {
    -webkit-transform: translate(3px, 14px) rotate(45deg);
            transform: translate(3px, 14px) rotate(45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#a700a7));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #a700a7);
  }
  .change .line3 {
    -webkit-transform: translate(-2px, -15px) rotate(-45deg);
            transform: translate(-2px, -15px) rotate(-45deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a700a7), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(#a700a7, rgba(0, 0, 0, 0.5));
  }
  .change .line2 {
    opacity: 0;
  }
  .mobile-dropdown.active {
    position: absolute;
    width: 98vw;
    opacity: 1;
    z-index: 1;
  }
  #Portfolio {
    position: relative;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 250%;
  }
  #Portfolio img {
    width: 90vw;
  }
  .mobileBio {
    background-color: rgba(172, 1, 172, 0.5);
    margin: 1.5%;
    padding: 2%;
    text-shadow: .01em .01em .15em black;
    font-size: 120%;
    font-stretch: ultra-expanded;
  }
  .mobilePacksHead {
    font-size: 110%;
    text-shadow: 0.01em 0.01em 0.09em #960396;
  }
  .footer {
    height: 50vh;
  }
}

@media screen and (min-width: 1370px) {
  .mobile, .mobilePacks, .mobileBio, .mobilePacksHead {
    display: none;
  }
  header {
    position: relative;
  }
  .contact {
    position: absolute;
    top: .5%;
    left: 60%;
    background-color: transparent;
    width: 40%;
  }
  .contact img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 65px;
    background-color: transparent;
    margin-left: 5%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .contact a {
    color: transparent;
    background: transparent;
  }
  #contact:hover {
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
  }
  #viewPort {
    position: absolute;
    top: 45%;
    right: 26%;
    background-color: transparent;
  }
  #arrow {
    position: absolute;
    top: 50%;
    left: 62.5%;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #arrow:hover {
    filter: brightness(180%);
    -webkit-filter: brightness(180%);
    width: 10%;
  }
  #PortBackground {
    position: relative;
  }
  .demos {
    position: relative;
    z-index: 1;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
  }
  .demos a {
    background-color: transparent;
    color: transparent;
  }
  .demos img {
    margin-left: 2%;
    margin-bottom: 2%;
    display: flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: transparent;
  }
  .demos img:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #UpArrow {
    position: relative;
    background-color: transparent;
    width: 4%;
    -webkit-transition: all .5s;
    transition: all .5s;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
  }
  #UpArrow:hover {
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
    width: 5%;
  }
  .footer {
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */